<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Deepl
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Deepl</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    
  </div>
  <div>
    <ion-button (click)='startListening()'>ecouter</ion-button>
    <ion-button (click)='stopListening()'>stop</ion-button>
    <ion-list>
      <ion-item>
        <ion-label>Source language</ion-label>
        <ion-select class="custom-options" #B (ionChange)="setupSrcLanguage(B.value)">
          <ion-select-option value="FR">Francais</ion-select-option>
          <ion-select-option value="EN">Anglais</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="encadrer-un-contenu">
        <ion-input type="text" placeholder="Rentrez votre text ici" (keypress)="getData($event)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Target language</ion-label>
        <ion-select class="custom-options" #C (ionChange)="setupLanguage(C.value)">
          <ion-select-option value="FR">Francais</ion-select-option>
          <ion-select-option value="EN">Anglais</ion-select-option>
          <ion-select-option value="TR">Turkish</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="encadrer-un-contenu">
        <p id="outputText"></p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
